langchain
langchain_community
python-dotenv
langchain-openai
langchain_ollama
langchain_groq
streamlit
langchain-chroma
langchain-huggingface
sentence-transformers
chromadb
bs4
einops
pypdf
arxiv
wikipedia
faiss-cpu
duckduckgo-search
mysql-connector-python
validators
youtube_transcript_api
unstructured
langchain-yt-dlp
yt-dlp
pytube
huggingface_hub
cassio
datasets
tiktoken
gevent
pypdf2
gradio
